@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.cloud-section{
    display: flex;
    justify-content: center;
    align-items: center; 
    background: rgba(82,224,53,.01);
}

.cloud-container{
    position: relative;
    top:100px;
    height: 310px;
    width:100%;
    display: flex;
    justify-content: center;
    /* animation: animate 5s linear infinite; */
}

@keyframes animate{
    /* 0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    } */
}

.cloud-container .cloud{
    position: relative;
    width: 300px; 
    z-index: 100;
    filter:drop-shadow(0 0 10px #009688)
}

.cloud-container .cloud{
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

.cloud-container .cloud::before{
    content: '';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    border-radius: 40px;
    width: 70%;
    height: 70px;
    background-color: #009688;
}

.cloud-container .cloud::after{
    content: '';
    position: absolute;
    top:-20px;
    left:110px;
    transform: translateX(-50%);
    border-radius: 70px;
    width: 80px;
    height: 80px;
    background-color: #009688;
    box-shadow: 60px -35px 0 1px #009688;
}

.cloud-container .cloud .drop{
    position: absolute;
    top: 0px;  
    color: #009688;
    transform-origin: bottom;
    animation: letters 2s linear infinite;
}

@keyframes letters {
    0%{
        transform: translateY(0) scaleY(0);
        transform-origin: top;
    }
    10%{
        transform: translateY(0) scaleY(0.25);
        transform-origin: top;
    }
    20%{
        transform: translateY(0) scaleY(1); 
    }
    70%{
        transform: translateY(180px) scaleY(1);
        transform-origin: bottom;
    }
    80%{
        transform: translateY(180px) scaleY(1);
        transform-origin: bottom;
    }
    100%{
        transform: translateY(180px) scaleY(0);
        transform-origin: bottom;
        text-shadow: -180px 0 0 ,180px 0 0;
    }
}


h2,h3,h4,h5,h6,a{
	font-family: 'Josefin Sans', sans-serif;
}
row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: var(--bs-gutter-y);
}
p{
	margin-top: 0;
    margin-bottom: 0!important;
	padding:4px 0;
	font-family: 'Philosopher', sans-serif;
}
::-webkit-scrollbar{
	width: 6px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background:linear-gradient(to right,#009688,white);
    border-radius: 6px;
}
.row{
	--bs-gutter-x: 0!important;
    --bs-gutter-y: 0;
}
.section-bg{
	background-image:url("../image/bg.png");
	background-size:cover;
}
.head{
	margin:0 20px;
	position:sticky;
	top:400px;
	padding-left: 0!important;
	background-color:white;
	border-radius:6px;
}
.head-atag{
	color:black;
	text-decoration:none;
}
.li-type{
	list-style-type:none;
	padding:10px 5px;
	border-bottom:1px solid gray;
}
.li-btn-clr{
	display: none;
}
li a:hover{
	color:#009688;
}
li i:hover{
	color:#009688;
}
.welcome{
	text-align: center;
	font-size:40px;
	font-weight:900;
	background-clip:text;
	-webkit-background-clip:text;
	color:transparent;
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaHwdTxyPgLeo_181LQTg5_q918ZVA7LwiX5ez_EjTRFdpqhxV31gC8sAL8jDgoKPUL1s&usqp=CAU');
	animation:animate-0 8s ease-in-out 3s infinite;
}
@keyframes animate-0{
	0%{
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50%{
      background-position: left bottom;
    }
    75%{
      background-position: right top;
    }   	
	100%{
      background-position: left top;
    }
}
.div1-bg::after{
	content:"";
	position:absolute;
	left:-15px;
	top:-20px;
	background: -webkit-linear-gradient(-45deg,#18c1b057 0%,rgba(82,224,53,.01) 100%);
	height:300px;
	width:300px;
	border-radius:10px;
	z-index:-1;
}
.div1-a-hvr:hover{
	color: #009688;
	word-spacing: 5px;
	transition: all .2s ease;
}
.div1-a-hvr:hover a{
	color: #009688;
	transition: all .2s ease;
}
.div1-bdr{
	border-radius:10px;
}
.div1-video{
	clip-path: polygon(0 0,100% 0,100% 80%,80% 100%,20% 100%,0% 80%)!important;
	border-radius:6px;
}
.shadow-2::after{
	content:"";
	position:absolute;
	left:-10px;
	top:10px;
	background: -webkit-linear-gradient(-45deg,#18c1b057 0%,rgba(82,224,53,.01) 100%);
	height:150px;
	width:150px;
	border-radius:10px;
}
.div1-btm-bdr{
	border-top:1px solid gray;
	border-right:1px solid gray;
	padding:15px 0 15px 0;
}
.div1-btm-bdr2{
	border-top:1px solid gray;
	padding:15px 0 15px 0;
}
.div1-atag{
	text-decoration:none;
	color:black;
}
.div1-bg{
	background-color:white;
	border-radius:6px;
	transition: all .3s ease;
}
.div1-1-bg{
	background-color:white;
	border-radius:6px;
	transition: all .3s ease;
}
.full-shadow-div1{
	position:relative;
	z-index:1;
}

.div2-bg{
	background-color:white;
	border-radius:6px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	transition: all .3s ease;
}
.div3-bg,.div4-bg,.div5-bg,.div6-bg{
	background-color:white;
	border-radius:6px;
	overflow-y:scroll;
	overflow-y:1px solid red;
	transition: all .3s ease;
	scroll-behavior: smooth;
}
.abt-heading{
	position:relative;
	font-size:25px; 
	padding:15px 0 15px 30px;
	z-index:1;
}
.abt-heading::after{
	content: '';
    position: absolute;
    left: -30px;
    right: 0;
    bottom: 0;
    height: 1px;
	width:100%;
    background: radial-gradient(ellipse at left,#ddd 0%,rgba(255,255,255,0) 70%);
}
.abt-heading::before{
	content:"";
	position:absolute;
	top:20px;
	left:20px;
	height:30px;
	width:30px;
	border-radius:50%;
	background: linear-gradient(135deg,#009688 0%,rgba(82,224,53,.01) 100%);
	z-index:-1
}
.div4-head-after{
	position:relative;
	padding-bottom:10px;
}
.div4-head-after::after{
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}
.div4-head-before::before{
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}

.div4-column-before{
	position:relative;
}
.div4-column-before::before{
	content:"";
	position: absolute;
    left: -15px;
    top: 0;
    width:1px;
    height: 100%;
    background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
}
.div4-column-before2{
	position:relative;
}
.div4-column-before2::before{
	content:"";
	position: absolute;
    left: -15px;
    top: 0;
    height:1px;
    width: 100%;
    background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
}


.wrapper{
  /* width: 1000px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.card{
  background: transparent; 
  width: 100%;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; 
  border-width: 0px !important;
  background-color: transparent !important;
}
.card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 60%;
  width: 60%;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background: -webkit-linear-gradient(left, #009688,#00ffe5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 16px;
  font-weight: 400;
}
@media(max-width: 753px){
  .wrapper{
    max-width: 700px;
  }
  .wrapper .card{
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media(max-width: 505px){
  .wrapper{
    max-width: 500px;
  }
  .wrapper .card{
    width: 100%;
  }
  .col-5{
    width: 100% !important;
  }
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color:#009688;
  color: white;
  transform: rotateY(180deg);
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.todoList{
	background-color: #1d252c!important;
	color: white !important;
	border-radius: 6px;
	transition: all .6s linear;
}
.todoList a{
	background-color: #1d252c;
	color: white;
	border-radius: 6px;
}


/* contact */
.contact-content-color{
  position: absolute; 
  top:0px;
  right: 0;
    bottom: 0;
    left: 0;
  display: none;
  background-color: #009687bd ; 
}
.contact-div:hover .contact-content-color{
  display: block;
}
.contact-content-transform a{
  text-decoration: none;
  color: white;
}
.contact-content-transform a:hover{ 
  color: white;
}
.contact-content-transform{
  animation:sec6;
	transform:translateY(100px);
	animation-duration:1s;
}

@keyframes sec6{
	0%{
		transform:translateY(0px); 
		transition:all.5s ease-in-out;
		opacity:0;
	}
	100%{
		transform:translateY(100px);
		transition:all.5s ease-in-out;
		opacity:1;
	}
}